.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: #f57b25;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.footer a {
    text-decoration: none;
    color: #f57b25;
    margin-right: 40px;
}

.footer span {
    display: none;
}

.footer p {
    margin-right: 50px;
    margin-top: 15px;;
}